*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#fondo{
    background: center url(fondo.webp) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 120vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 1s ease;
}
#chat{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100vw;
    min-height: 100vh;
    max-width: 480px;
}
.mensaje{
    width: fit-content;
    max-width: 75%;
    border-radius: 5px;
    padding:6px 10px;
    margin-bottom: 3px;
}

.mensajePropio{
    align-self: flex-end;
    background-color: hwb(267 14% 20% / 0.848);
}
.mensajePropio > .horaMensaje::after{
    content: '✓✓';
    letter-spacing: -4px;
    padding: 5px 0 5px 5px ;
    font-size: smaller;
    color: hwb(240 59% 0%);
}

.mensajeOtraPersona{
    background-color: hwb(0 13% 87% / 0.848);
}

.mensaje > h5{
    color: white;
    margin-left: 3px;
}
.textoInvisible{
    color: transparent;
}
#escribiendoOtraPersona{
    position: relative;
    display: flex;
    right: 100vw;
}

#escribiendoOtraPersona > span{
    color: white;
    position: relative;
}

.horaMensaje{
    text-align: right;
    align-self: flex-end;
    margin-left: 7px;
    color: hwb(0 100% 0%);
    margin-bottom: -5px;
    margin-top:5px
}

#divElecciones{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

#btnRegresarAElegir{
    display: none;
    margin-top: 7px;
}

.btnChat{
    border: none;
    border-radius: 5px;
    background-color: hwb(267 14% 20%);
    margin-bottom: 3px;
    width: 70vw;
    max-width: 480px;
    padding:6px 10px;
    color: white;
    align-self: center;
}
.btnChat:hover{
    background-color: rgb(73, 22, 136);
}

.divImgChat{
    width: 70%;
    padding: 3px;
    margin-bottom: 3px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.divImgChat > img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.contenedorImgGrande{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.imgGrande{
    width: 100%;
    max-width: fit-content;
    max-height: 100%;
}

.contenedorStickers{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-bottom: 5px;
    gap : 4px;
}
.sticker{
    width : 40%;
    aspect-ratio: 1/1;
}
@keyframes escribiendoMensaje{
    0%{bottom: -2px;}
    20%{bottom: 3.5px;}
    40%{bottom: -2px; color: gray;}
    100%{bottom: -2px;color: white;}
}
